/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 03 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {}

.sidebar {
	float:right;
	width: 250px;
	height: 300px;
	/* float has to be right */
}

.main-content {
	floar:left;
	width:734px;
	height:300px;
	/* float has to be left */
}

.footer {
	clear:both;
	/* hint! */
}

/*
div {
	margin: 20px;
}
*/
/* uncomment me to see if you missed anything! */