/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 02 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}

.sidebar {
	float: left;
	width: 250px;
	height: 300px;
	/* 1. add correct height = 300px */
}

.main-content {
	float: left;
	width: 734px;
	height: 300px;
	
	/* 
		1. 1024px - 250px = 774px - padding(20px) * 2 =  734px;
	    2. add correct height = 300px
		
	 */
}

.footer {
	clear:both;
	/* clear elements above (left and right)*/
}
