/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
	overflow:auto;
	/* Extends as large as needd to encompass child elements inside that are floated*/
}
/* hint! you have to contain the floated children elements. */

.logo {
	float:left;
	/* hint! */
}

.navigation {
	float:right;
	/* hint! */
}


.sidebar {
	float:left;
	width:250px;
	height:300px;
}

.main-content {
	float:left;
	width:734px;
	height:300px;
}

.footer {
	clear:both;
}
