/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	overflow:auto;
}

.logo {
	float:left;
}

.navigation {
	float: right;
}

.main-content {}
/* hint! */

.post {
	overflow:auto;
}
/* hint! */

.image {
	float:left;
	width: 15%;
	height:150px;
	
}

.post_excerpt {
	float:right;
	width: 70%;
}
