/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	overflow:auto;
}
/* hint! what do you have to add here? */

.logo {
	float:left;
}

.navigation {
	float:right;
}

.sidebar {
	float: left;
	width: 250px;
	height: 300px;
}

.main-content {
	overflow:auto;

}
/* hint! you have to contain the floated children elements. */

.sub-content {
	float:right;
	margin: 0 0 20px;
	width: 580px;
	height: 125px;
	
	/* hint! */
}
.sub-content-2 {
	float:right;
	margin: 0 0 20px;
	width: 580px;;
	height: 125px;
	/* hint! */
}

.footer {
	clear:both;
}
