/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% 
				Answer: when user resize window size to around 490 pixels, it breaks.*/
	margin: 0 auto;
}


.header {
	overflow:auto;
}

.logo {
	float:left;
	width:30%
	
}

.navigation {
	float:right;
	width: 65%;
}

.sidebar {
	float:left;
	width:30%;
	height:10%;
}

.main-content {
	overflow:auto;
}

.sub-content {
	float:right;
	width:65%;
	height:10%;
}

.sub-content-2 {
	float:right;
	width:65%;
	height:10%;
	
}

.footer {}


