/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	width:100%;
}


.sidebar {
	float:left;
	width:30%;
	height:300px;
}

.main-content {
	float:left;
	width:40%;
	height:300px;
}

.sub-content {
	float:left;
	width:30%;
	height:300px;
}


.footer {
	clear:both;
}
